.header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 5px;
}

.gameStatusTheme
{
   flex-grow: 1;
  text-align: center;
  align-items: center;
  min-width: 135px;
  justify-items: center;
  color: #031b2c;
  font-weight: 600;
  text-shadow: 1px 1px 0px rgb(224, 216, 216), -2px -2px 0px 
  rgb(174, 10, 180), 1px -1px 0px 
  rgb(4, 38, 110), -1px 1px 0px rgb(125, 29, 145);
  margin: 0;
 }

.score,
.gameStatus
{
   flex-grow: 1;
  text-align: center;
  align-items: center;
  min-width: 135px;
  justify-items: center;
  background-color: aqua;
  font-weight: 600;
  padding-top: 5px;
  box-sizing: border-box;
  border: 2px solid black;
  margin-bottom: 5px;
  border-radius: 8px;
}

.score,
.gameStatus
{
  font-size: 20px;
}

.gameStatus{
  opacity: 1;
  transition: opacity 2s ease-out; 
}
.gameStatus.hidden {
  opacity: 0; 
}

audio {
  display: none;
}